<div class="container">
	<h1><%= @dojo.branch%></h1>
	<h4>Address: <%= @dojo.street%></h4>
	<h4>City: <%= @dojo.city%> State: <%= @dojo.state%></h4>
	<a href="/dojos"><button class="btn">Home</button></a> <a href=""><button class="btn">Edit</button></a>
</div>